<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Страница кубика {{ dice_name }}</title>
    <script>
        function rollDice(diceName) {
            // Отправляем AJAX запрос
            fetch(`/roll/${diceName}/`)
                .then(response => response.json())
                .then(data => {
                    // Обновляем результат броска на странице
                    document.getElementById('roll-result').textContent = data.roll_result;
                })
                .catch(error => console.error('Ошибка:', error));
        }
    </script>
</head>
<body>
<h1>{% include 'includes/navbar.html' %}</h1>
<h2> Страница кубика {{ dice_name }} </h2>

<p> {{ dice_name }} - {{ info_about_dice }} </p>

<!-- Добавляем кнопку с вызовом функции rollDice -->
<button onclick="rollDice('{{ dice_name }}')">Крутить!</button>

<p> Результат броска: <span id="roll-result">{{ roll_result }}</span> </p>

</body>
</html>